- name: Add Mysql repository
  yum: name=http://dev.mysql.com/get/mysql57-community-release-el7-11.noarch.rpm
  when: usePercona == 0 
  tags: [mysql]


- name: Add Percona Server Mysql repository
  yum: name=http://www.percona.com/downloads/percona-release/redhat/0.1-4/percona-release-0.1-4.noarch.rpm
  when: usePercona == 1 
  tags: [mysql]  

- name: Install community proxysql  RPM dependencies
  yum: 
    name: mysql-community-client
    state: present
  when: usePercona == 0 
  tags: [proxysql]

- name: Install Percona proxysql RPM dependencies
  yum: 
    name: Percona-Server-client-57
    state: present
  when: usePercona == 1 
  tags: [proxysql]

- name: Install proxysql common RPM dependencies
  become: true
  yum: name={{ item }} state=present
  with_items:
    - glib2-devel
    - openssl-devel
    - perl-DBD-MySQL
  tags: [proxysql]

- name: Install Percona proxysql RPM 
  yum: 
    name: proxysql
    state: present
  when: usePercona == 1 
  tags: [proxysql]


- name: Install  community  proxysql RPM 
  become: true
  shell: rpm -ivh https://github.com/sysown/proxysql/releases/download/v1.4.1/proxysql-1.4.1-1-centos7.x86_64.rpm
  when: usePercona == 0 
  tags: [proxysql]

- name: Copy proxysql.cnf file
  template: 
    src: proxysql.cnf.j2 
    dest: /etc/proxysql.cnf
    owner: root 
    group: root 
    mode: 0644
  when: usePercona == 0 
  tags: [proxysql]

- name: whoami 
  become: false
  shell: whoami
  register: linux_user
  tags: [proxysql]

- name: id -g -n
  become: false
  shell: id -g -n
  register: linux_group
  tags: [proxysql]

- name: "ProxySQL Mysql: template: .my.cnf file to /home/{{ linux_user.stdout }}"
  become: false
  template:
    src: new_my.cnf.j2
    dest: "~/.my.cnf"
    owner: "{{ linux_user.stdout }}"
    group: "{{ linux_group.stdout }}"
    mode: 0600
  tags: [proxysql]
 

- name: restart proxysql
  service:
    name: proxysql
    state: restarted 
  tags: [proxysql] 

- name: mysql nodes ready ?
  shell: ping -c 1 10.100.194.201;ping -c 1 10.100.194.202;ping -c 1 10.100.194.203 
  register: nodes_is_ready
  ignore_errors: yes 
  tags: [proxysql]



- name: check Adding cluster nodes to ProxySQL?
  become: false
  shell: mysql -u admin    -h  127.0.0.1  -P 6032   -Bse \
        " SELECT * FROM mysql_servers where hostname='{{ item }}'  ;  "
  with_items:
    - 10.100.194.201
    - 10.100.194.202
    - 10.100.194.203
  register: nodes
  ignore_errors: yes 
  tags: [proxysql]

- name: node1 Adding  to ProxySQL ?
  debug:
    msg: "----------{{ item.item }}----{{ item.stdout }}--------------"
  with_items: "{{ nodes.results }}" 
  ignore_errors: yes 
  tags: [proxysql] 

- name: Adding cluster nodes to ProxySQL
  become: false
  shell: mysql -u admin  -h 127.0.0.1 -P 6032   -Bse \
        "INSERT INTO mysql_servers(hostgroup_id, hostname, port) VALUES (0,'{{ item.item }}',3306); " 
  when:   item.stdout.find( item.item ) != 0
  with_items: "{{ nodes.results }}"
  tags: [proxysql]  


- name: Creating ProxySQL Client User
  become: false
  shell: mysql -u admin  -h 127.0.0.1 -P 6032   -Bse \
        " INSERT INTO mysql_users (username,password) VALUES (\'{{ proxysql_user }}\',\'{{ proxysql_user_passwd }}\');\
        LOAD MYSQL USERS TO RUNTIME;SAVE MYSQL USERS TO DISK; "   
  tags: [proxysql]  

# - name: To provide read/write access to the cluster for ProxySQL, add this user on one of the Percona XtraDB Cluster nodes
#   become: false
#   shell: mysql -u admin  -h 10.100.194.201   -Bse \
#         "   "   
#   tags: [proxysql]  


  
